# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/

# Database (Jangan push database lokal ke GitHub)
sql_app.db
sql_app.db-journal

# Virtual Environments
venv/
env/
.env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Log & Ekspor File
*.log
*.csv
*.xlsx
contacts.csv
scraper.log

# Playwright & OS files
pw-browsers/
.DS_Store
Thumbs.db

# Session & Data
wa_session/
user_data/
li_session.pkl
scraper_progress.json
config.json
*.db
*.db-journal