customtkinter>=5.2.2
playwright>=1.60.0
sqlalchemy>=2.0.51
pandas>=2.3.3
openpyxl>=3.1.5
python-dotenv>=1.2.1
pydantic>=2.13.4
requests>=2.34.2
tldextract>=5.3.0
tenacity>=9.1.4
python-dateutil>=2.9.0.post0
beautifulsoup4>=4.15.0
2captcha-python>=2.0.9
selenium>=4.36.0
pyotp>=2.10.0
protobuf>=6.33.6
pytz>=2026.2
lxml>=6.1.1
click>=8.1.8
